<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <header>
      <h1><%= title %></h1>
    </header>
    <% if (isCorrect) { %>
        <p>⭕️</p>
        <p>正解です！</p>
    <% } else { %>
        <p>❌</p>
        <% var text = ''; %>
        <% switch (correctNumber) { 
        case 0:
            text = 'ア';
            break;
        case 1:
            text = 'イ';
            break;
        case 2:
            text = 'ウ';
            break;
        case 3:
            text = 'エ';
            break;
        } %>
        <p>正解は「<%= text %>」です</p>
    <% }%>
    <% if (mode === 'wrong') { %>
        <button onclick="location.href='/quiz/wrong'">次の問題</button>
    <% } else { %>
        <button onclick="location.href='/quiz'">次の問題</button>
    <% } %>
  </body>
</html>
